html
body
.app-container
  display flex
  flex-flow column
  height 100%

#header
#footer
#color-button
#color-palette-container
#toolbox-button
#toolbox-container
  background-color white
  box-sizing border-box
  box-shadow lightgray 0px 1px 5px
  padding-left 12px

#canvas
  flex 2
  overflow auto
