html
body
.app-container
  display flex
  flex-flow column
  height 100%
  margin 0

#header
#footer
#toolbox-button
  box-sizing border-box
  box-shadow lightgray 3px 3px 5px

#canvas
  flex 2
  overflow auto
