html
body
.app-container
  display flex
  flex-flow column
  height 100%
  margin 0
  background-color lightgray
  z-index -10
  overflow hidden
  font 400 16px Arial

canvas
  z-index -10

#zoom-canvas
  box-shadow darkgray 10px 10px 10px
  position block
  left 1px
  top 0px

#coordinates
  margin-left 10px
  width 130px
  float left
  margin-top 12px
  font-size medium

#footer
  position absolute
  bottom: 0
  width: 100%

#header
  box-sizing border-box
  border 1px #999
  width 100%
  height 43px

#place
  flex 1
  text-align: center
  background-color: lightgray
  margin-top: 0px
  z-index: -10

.cooldown-div
  width 300px

.grabbable
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

.grabbable:active
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;

.green-button
  border 1px #02BE01
  opacity 1
  &:hover
    border 1px #02BE01 !important
    color #02BE01
    -webkit-filter: invert(0%) !important
    filter invert(0%) !important
    box-shadow #777 3px 3px 5px
    border-style solid
  svg
    fill #02BE01

.hotkey
  display:none

.info-block
  width 500px
  float left
  z-index 999
  margin-top 8px
  margin-left 12px

.message-span
  margin-left 10px

.place-canvas
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  display:none
  margin-top: 100px

.toolbox-button
  box-shadow #999 3px 3px 5px
  box-sizing border-box
  border 1px #999
  width 100%
  margin-bottom 4px
  background-color white
  border-radius 4px
  border-style solid
  display inline-block
  height 30px
  width 30px
  text-align center
  margin 2px
  cursor pointer
  &:hover
  &.active
   border 1px #777
   border-style solid
   color #777
   box-shadow black 3px 3px 5px

.red-button
  border 1px #E50000
  opacity 1
  pointer-events none
  &:hover
    border 1px #E50000 !important
    color #E50000
    -webkit-filter: invert(0%) !important
    filter invert(0%) !important
    box-shadow #777 3px 3px 5px
    border-style solid
  svg
    fill #E50000

.white-text
  color white